{% extends "partials/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Region{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Region" title="Region Management" subtitle="Update" %}
                {% endblock pagetitle %}

                <div class="row">
                    <div class="col m-2">
                        <div class="text-sm-end">
                            <a href="{% url 'cross_counting:region_list' %}">
                                <button type="button" class="btn btn-outline-primary">
                                    <i class="mdi mdi-arrow-left"></i> Back To Main
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center m-2">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" action="{% url 'cross_counting:region_update' region.id %}">
                                    {% csrf_token %}
                                    {{ form.media.js }}
                                    <div class="row m-4">

                                        <div class="col-md-6">
                                            <label class="label">Region Name</label>
                                            {% render_field form.name class="form-control" %}
                                        </div>
                                        <div class="col-md-6">
                                            <label class="label">Occupancy Limit</label>
                                            {% render_field form.occupancy class="form-control" %}
                                        </div>

                                    </div>
                                    <div class="row m-4">
                                        <button type="submit" class="btn btn-success">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row-->

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}
